In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.4)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [36]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import date_format, to_date

In [37]:
spark = SparkSession.builder.appName("Tratamento de Dados").getOrCreate()

In [38]:
df = spark.read.format('csv').option("header", "true").option("delimiter", ";").load("employee_data_100.csv")

In [39]:
df.show()

+-----+--------+---------+----+----------+----+----+------+
|EMPNO|   ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|
+-----+--------+---------+----+----------+----+----+------+
| 7369|    LOWE|  ANALYST|7566|12/01/1986|3501|NULL|    50|
| 7370|   SCOTT|PRESIDENT|7902|14/07/1999|4738|1400|    20|
| 7371|   CHANG|  ANALYST|7902|04/09/1985|4908| 500|    40|
| 7372|  ROGERS|  MANAGER|7698|05/02/1994|1787|1400|    40|
| 7373|  WAGNER| SALESMAN|7839|29/06/2014|2156| 300|    50|
| 7374| JOHNSON| SALESMAN|7839|21/01/2008|4803|NULL|    20|
| 7375|     RAY| SALESMAN|7566|22/04/1990|4374|NULL|    50|
| 7376|   BROCK|  ANALYST|7902|09/10/2024|3612| 300|    50|
| 7377|   LEWIS| SALESMAN|7566|27/02/1993|4291|1400|    50|
| 7378|WILLIAMS| SALESMAN|7566|04/01/2002|2404| 500|    50|
| 7379|   SMITH|    CLERK|7566|09/03/1989|3698|NULL|    20|
| 7380|ARELLANO|    CLERK|7566|18/02/2009|3154|NULL|    50|
| 7381| LINDSEY|  ANALYST|7839|16/10/2000|3884|NULL|    30|
| 7382|ESPINOZA|  ANALYST|7839|13/07/2013|4354| 300|    50|
| 7383|GALLEGOS|  ANALYST|7566|11/10/1993|4331| 300|    40|
| 7384|   DAVIS| SALESMAN|7788|      NULL|1071|NULL|    30|
| 7385| CHAPMAN|    CLERK|7902|15/06/2022|4383|1400|    30|
| 7386|  FOWLER| SALESMAN|7839|22/03/2024|4430|NULL|    30|
| 7387|  MARTIN|    CLERK|7566|05/05/1993|4138|NULL|    30|
| 7388|   DURAN|  ANALYST|7902|29/08/2016|1972|1400|    40|
+-----+--------+---------+----+----------+----+----+------+
only showing top 20 rows

In [40]:
df = df.withColumn("HIREDATE", to_date("HIREDATE", "dd/MM/yyyy")).fillna({"HIREDATE": "9999-12-31"})

In [41]:
df.show()

+-----+--------+---------+----+----------+----+----+------+
|EMPNO|   ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|
+-----+--------+---------+----+----------+----+----+------+
| 7369|    LOWE|  ANALYST|7566|1986-01-12|3501|NULL|    50|
| 7370|   SCOTT|PRESIDENT|7902|1999-07-14|4738|1400|    20|
| 7371|   CHANG|  ANALYST|7902|1985-09-04|4908| 500|    40|
| 7372|  ROGERS|  MANAGER|7698|1994-02-05|1787|1400|    40|
| 7373|  WAGNER| SALESMAN|7839|2014-06-29|2156| 300|    50|
| 7374| JOHNSON| SALESMAN|7839|2008-01-21|4803|NULL|    20|
| 7375|     RAY| SALESMAN|7566|1990-04-22|4374|NULL|    50|
| 7376|   BROCK|  ANALYST|7902|2024-10-09|3612| 300|    50|
| 7377|   LEWIS| SALESMAN|7566|1993-02-27|4291|1400|    50|
| 7378|WILLIAMS| SALESMAN|7566|2002-01-04|2404| 500|    50|
| 7379|   SMITH|    CLERK|7566|1989-03-09|3698|NULL|    20|
| 7380|ARELLANO|    CLERK|7566|2009-02-18|3154|NULL|    50|
| 7381| LINDSEY|  ANALYST|7839|2000-10-16|3884|NULL|    30|
| 7382|ESPINOZA|  ANALYST|7839|2013-07-13|4354| 300|    50|
| 7383|GALLEGOS|  ANALYST|7566|1993-10-11|4331| 300|    40|
| 7384|   DAVIS| SALESMAN|7788|9999-12-31|1071|NULL|    30|
| 7385| CHAPMAN|    CLERK|7902|2022-06-15|4383|1400|    30|
| 7386|  FOWLER| SALESMAN|7839|2024-03-22|4430|NULL|    30|
| 7387|  MARTIN|    CLERK|7566|1993-05-05|4138|NULL|    30|
| 7388|   DURAN|  ANALYST|7902|2016-08-29|1972|1400|    40|
+-----+--------+---------+----+----------+----+----+------+
only showing top 20 rows

In [42]:
df = df.withColumn("YEAR", date_format("HIREDATE", "yyyy")).withColumn("MONTH", date_format("HIREDATE", "MM"))
df.show()

+-----+--------+---------+----+----------+----+----+------+----+-----+
|EMPNO|   ENAME|      JOB| MGR|  HIREDATE| SAL|COMM|DEPTNO|YEAR|MONTH|
+-----+--------+---------+----+----------+----+----+------+----+-----+
| 7369|    LOWE|  ANALYST|7566|1986-01-12|3501|NULL|    50|1986|   01|
| 7370|   SCOTT|PRESIDENT|7902|1999-07-14|4738|1400|    20|1999|   07|
| 7371|   CHANG|  ANALYST|7902|1985-09-04|4908| 500|    40|1985|   09|
| 7372|  ROGERS|  MANAGER|7698|1994-02-05|1787|1400|    40|1994|   02|
| 7373|  WAGNER| SALESMAN|7839|2014-06-29|2156| 300|    50|2014|   06|
| 7374| JOHNSON| SALESMAN|7839|2008-01-21|4803|NULL|    20|2008|   01|
| 7375|     RAY| SALESMAN|7566|1990-04-22|4374|NULL|    50|1990|   04|
| 7376|   BROCK|  ANALYST|7902|2024-10-09|3612| 300|    50|2024|   10|
| 7377|   LEWIS| SALESMAN|7566|1993-02-27|4291|1400|    50|1993|   02|
| 7378|WILLIAMS| SALESMAN|7566|2002-01-04|2404| 500|    50|2002|   01|
| 7379|   SMITH|    CLERK|7566|1989-03-09|3698|NULL|    20|1989|   03|
| 7380|ARELLANO|    CLERK|7566|2009-02-18|3154|NULL|    50|2009|   02|
| 7381| LINDSEY|  ANALYST|7839|2000-10-16|3884|NULL|    30|2000|   10|
| 7382|ESPINOZA|  ANALYST|7839|2013-07-13|4354| 300|    50|2013|   07|
| 7383|GALLEGOS|  ANALYST|7566|1993-10-11|4331| 300|    40|1993|   10|
| 7384|   DAVIS| SALESMAN|7788|9999-12-31|1071|NULL|    30|9999|   12|
| 7385| CHAPMAN|    CLERK|7902|2022-06-15|4383|1400|    30|2022|   06|
| 7386|  FOWLER| SALESMAN|7839|2024-03-22|4430|NULL|    30|2024|   03|
| 7387|  MARTIN|    CLERK|7566|1993-05-05|4138|NULL|    30|1993|   05|
| 7388|   DURAN|  ANALYST|7902|2016-08-29|1972|1400|    40|2016|   08|
+-----+--------+---------+----+----------+----+----+------+----+-----+
only showing top 20 rows

In [46]:
!pip install delta-spark

Collecting delta-spark
  Downloading delta_spark-3.3.0-py3-none-any.whl.metadata (2.0 kB)
Requirement already satisfied: pyspark<3.6.0,>=3.5.3 in /usr/local/lib/python3.10/dist-packages (from delta-spark) (3.5.4)
Requirement already satisfied: importlib-metadata>=1.0.0 in /usr/local/lib/python3.10/dist-packages (from delta-spark) (8.5.0)
Requirement already satisfied: zipp>=3.20 in /usr/local/lib/python3.10/dist-packages (from importlib-metadata>=1.0.0->delta-spark) (3.21.0)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark<3.6.0,>=3.5.3->delta-spark) (0.10.9.7)
Downloading delta_spark-3.3.0-py3-none-any.whl (21 kB)
Installing collected packages: delta-spark
Successfully installed delta-spark-3.3.0

In [49]:
from google.colab import drive
from delta import *

In [50]:
df.write.format("parquet").partitionBy("YEAR", "MONTH").mode("overwrite").save("/content/sample_data/test_partitions")